.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.MuiBox-root {
  flex: 0 0 auto;
}
.leaflet-container {
  flex: 1 1 auto;
}

.MuiBottomNavigation-root {
  flex: 0 0 auto;
}

.leaflet-routing-container {
  color: black;
}

.leaflet-routing-alt-minimized {
  color: black !important;
}

.leaflet-routing-alt h3 {
  display: none;
}

.results {
  color: black;
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}


  .dark-tiles {
      filter:var(--map-tiles-filter, none);
}
